#slider {
    cursor: pointer;
    /*border: 2px solid grey;
    border-radius: 10px;*/
    width: 200px;
    height: 10px;
    margin-top: 300px;
    position: relative;
    background-color: grey;
}

#slider #runner{
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px; 
    position: absolute;
    top: -5px;
    left: 0px;
}

#slider .presentor{
    display: inline;
    -webkit-user-select: none;
    background-color: white;
    border: 2px solid black;
    position: absolute;
}

#slider #presentation1{
    top: 20px;
    left: 10px;
}

#slider #presentation2{
    top: 0px;
    left: -50px;
}

#slider #presentation3{
    top: 0px;
    right: -50px;
}

#slider .mark{
    width: 2px;
    height: 16px;
    background-color: blue;
    position: absolute;
}


#slider #runner .dragged {
    background-color: blue !important;
}

.middle{
    margin: auto;
}

.middle2{
    margin-top: 200px;
    margin-left: 100px;
}